.am{
 display: flex;
 justify-content: center;
    
}
.row1{
display:flex;
justify-content:flex-end;
margin:30px;
}
.row3{
    display:flex;
    justify-content:flex-end;
    margin:30px;
}
.row5{
display:flex;
justify-content: flex-end;    
margin:30px;
}
.wed{
display: flex;
justify-content:space-evenly;
}
.wedhead{
display:flex;
justify-content:center;    
}

.wedhead:hover{
    color: rgb(235, 17, 90);
    transition:5s ;
    transform:rotateX(360deg);
}

.beachead{
    display: flex;
    justify-content: center;
}

.beachead:hover{
    color:rgb(4, 245, 245);
    transition: 5s;
    transform: rotateY(360deg);
}

.diwalihead{
    display: flex;
    justify-content: center;
}

.diwalihead:hover{
    color:rgb(104, 24, 64);
    transition:5s;
    transform:rotateX(360deg);
}

.sumhead{
    display: flex;
    justify-content: center;
}
.sumhead:hover{
    color: rgb(208, 255, 0);
    transition: 5s;
    transform: rotateY(360deg);
}

.nw{
    display: flex;
    justify-content: center;
}
